# JWT (Troque para ambiente de produção, ex: uuid)
JWT_SECRET="sua-chave-secreta-forte"
JWT_EXPIRES_IN="7d"

# Gateway de Pagamento
PAYPAL_MODE="sandbox" # ou "live"
PAYPAL_CLIENT_ID="AQUI_VAI_O_CLIENT_ID"
PAYPAL_SECRET="AQUI_VAI_O_CLIENT_SECRET"
